body {
	font-family: 'Advent Pro', sans-serif;
	color: white;
	letter-spacing: 1px;
}

h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 3.5em;
}

p {
	font-size: 2rem;
  line-height: 2.5rem;
}

.navbar-default {
	background-color: #000;
	
	.navbar-nav > li > a {
		color: #fff;
	}
	.navbar-brand {
		color: #fff;
	}
}

#intro {
	background: url(http://res.cloudinary.com/drfp6xtvu/image/upload/v1503072537/caleb-woods-282729_gdypuo.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 350px;
	
	.intro-text {
		padding: 50px 50px 25px 50px;
	}
	
	.intro-name {
		margin: 0;
		margin-bottom: 40px;
	}
	
	.intro-sub {
		font-size: 1.5em;
	}
	
}

.intro-box {
	background-color: rgba(0, 0, 0, 0.9);
	float: none;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 50px;
	color: #000;
	margin: 0px 50px 50px 50px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 50%;
	
	
	&:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
    transition: .5s;
    color: #000;
    border: 1px inset rgb(255, 255, 255);
  }
}

#about {
	background: #558C89;
	//filter: 
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	
	padding: 100px 0px;
	
	.profile-txt {
		//text-align: right;
	}
	
	.about-profile-image {
		width: 200px;
		border-radius: 50%;
	}
}

#portfolio {
	background: url(http://res.cloudinary.com/drfp6xtvu/image/upload/v1503227606/christopher-gower-291246_lsyz3u.jpg) no-repeat;
	//filter: grayscale(100%);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 350px;
	
	.portfolio-text {
		background-color: rgba(0, 0, 0, 0.9);
		padding: 30px;
	}
}

.img-row {
	margin-top: 100px;
}

.thumbnail {
	width: 90%;
	margin: 0 auto;
	border-color: black;
	
	#description {
    padding: 0;
    display: none; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 5px;
		
		h2 {
			font-size: 2em;
		}
		
		p {
			font-size: 1em;
			padding: 20px 10px 0px 10px;
		}
	}
	
	a {
		text-decoration: none;
		color: #FFF;
	}
}

#contact {
	background: url(http://res.cloudinary.com/drfp6xtvu/image/upload/v1503227606/christopher-gower-291246_lsyz3u.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	padding-top: 50px;
	
	.contact-box {
		background-color: rgba(0, 0, 0, 0.9);
		padding: 30px;
	}
}

.intro-social {
	display: flex;
	justify-content: center;
	align-items: center;
	
	a {
		margin-top: 50px;
	}
	a:visited, a:active, a:focus {
		text-decoration: none;
	}
}

.contact-social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	
	a:visited, a:active, a:focus {
		text-decoration: none;
	}
}

footer {
	height: 50px;
	background-color: #000;
	text-align: center;
	p {
		font-size: 1em;
		padding-top: 10px;
	}
}